.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 24px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.figmaPaste {
  display: block;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: linear-gradient(3deg, #282e4d26 0%, var(--token-2OHw8PHYA) 59%) 0%
    0% / auto 100% repeat;
  flex-shrink: 0;
}
.stilu10Pt100 {
  width: 53px;
  height: 51px;
  display: block;
  position: absolute;
  left: 359px;
  top: 80px;
}
.group2 {
  width: 53px;
  height: 51px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__aRmVn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #282e4d;
  width: 53px;
  height: 51px;
  display: block;
  top: 0%;
  left: 0%;
}
.svg__uAtHo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #282e4d;
  transform: translate(-0.09999999999999964px, 0.03599999999999959px);
  width: 40.519px;
  height: 26.837px;
  display: block;
  top: 12px;
  left: 7px;
}
.text__uqu7H {
  display: block;
  font-size: 32px;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 693px;
  top: 569px;
}
.group4 {
  width: 770px;
  height: 69px;
  display: block;
  position: absolute;
  left: 335px;
  top: 371px;
}
.text__oJKkW {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.55;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 770px;
  height: 69px;
}
.text___6FnEz {
  display: block;
  font-size: 13px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  left: 650px;
  top: 595px;
}
.group5 {
  width: 226px;
  height: 62px;
  display: block;
  position: absolute;
  left: 607px;
  top: 500px;
}
.svg__prMf5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #282e4d;
  filter: drop-shadow(0px 10px 10.5px rgba(39, 45, 76, 1));
  width: 226px;
  height: 62px;
  display: block;
  top: 0px;
  left: 0px;
  border-radius: 8px;
}
.text___9QKax {
  display: block;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(247, 248, 255, 1);
  position: absolute;
  top: 21px;
  left: 67px;
}
.text__uDhC7 {
  display: block;
  font-size: 61px;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  left: 445px;
  top: 257px;
}
._ {
  display: block;
  font-size: 32px;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 624px;
  top: 511px;
}
.group6 {
  width: 62px;
  height: 35px;
  display: block;
  position: absolute;
  left: 723px;
  top: 75px;
}
.text__vcGgQ {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 35px;
}
.group7 {
  width: 148px;
  height: 35px;
  display: block;
  position: absolute;
  left: 825px;
  top: 75px;
}
.text__fdFDy {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 148px;
  height: 35px;
}
.group8 {
  width: 118px;
  height: 35px;
  display: block;
  position: absolute;
  left: 1013px;
  top: 75px;
}
.text__zqr0N {
  display: block;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 118px;
  height: 35px;
}
.group9 {
  width: 68px;
  height: 35px;
  display: block;
  position: absolute;
  left: 1171px;
  top: 75px;
}
.text__iLj3U {
  display: block;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(39, 45, 76, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
}
.rectangle7 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(39, 45, 76, 0.17) 83%
    )
    0% 0% / 100% 100% no-repeat;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
