@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-2OHw8PHYA: var(--token-rObPpND1f);
  --plasmic-token-unnamed-style-token: var(--token-2OHw8PHYA);
  --token-rObPpND1f: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-rObPpND1f);
}

.plasmic_default_styles {
  --mixin-xO9R6x_-_Uil_font-family: "Inter";
  --mixin-xO9R6x_-_Uil_font-size: 16px;
  --mixin-xO9R6x_-_Uil_font-weight: 400;
  --mixin-xO9R6x_-_Uil_font-style: normal;
  --mixin-xO9R6x_-_Uil_color: #535353;
  --mixin-xO9R6x_-_Uil_text-align: left;
  --mixin-xO9R6x_-_Uil_text-transform: none;
  --mixin-xO9R6x_-_Uil_line-height: 1.5;
  --mixin-xO9R6x_-_Uil_letter-spacing: normal;
  --mixin-xO9R6x_-_Uil_white-space: pre-wrap;
  --mixin-xO9R6x_-_Uil_user-select: text;
  --mixin-xO9R6x_-_Uil_text-decoration-line: none;
  --mixin-xO9R6x_-_Uil_text-overflow: clip;
  --mixin-K1rMP9BguSv3_color: #000000;
  --mixin-K1rMP9BguSv3_font-weight: 900;
  --mixin-K1rMP9BguSv3_font-size: 72px;
  --mixin-K1rMP9BguSv3_line-height: 1;
  --mixin-K1rMP9BguSv3_letter-spacing: -4px;
  --mixin-zaBDfuMsjDbC_font-family: "Inter";
  --mixin-zaBDfuMsjDbC_color: #000000;
  --mixin-zaBDfuMsjDbC_font-size: 48px;
  --mixin-zaBDfuMsjDbC_font-weight: 700;
  --mixin-zaBDfuMsjDbC_letter-spacing: -1px;
  --mixin-zaBDfuMsjDbC_line-height: 1.1;
  --mixin-zay7FDVA1G7K_color: #0070f3;
  --mixin-YsxNxuqSaMcX_font-family: "Inter";
  --mixin-YsxNxuqSaMcX_color: #000000;
  --mixin-YsxNxuqSaMcX_font-size: 32px;
  --mixin-YsxNxuqSaMcX_font-weight: 600;
  --mixin-YsxNxuqSaMcX_letter-spacing: -0.8px;
  --mixin-YsxNxuqSaMcX_line-height: 1.2;
  --mixin-DDYYc04O1p9O_font-family: "Inter";
  --mixin-DDYYc04O1p9O_color: #000000;
  --mixin-DDYYc04O1p9O_font-size: 24px;
  --mixin-DDYYc04O1p9O_font-weight: 600;
  --mixin-DDYYc04O1p9O_letter-spacing: -0.5px;
  --mixin-DDYYc04O1p9O_line-height: 1.3;
  --mixin-Jzv4Xevr1Crt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Jzv4Xevr1Crt_border-bottom-color: #dddddd;
  --mixin-Jzv4Xevr1Crt_border-bottom-style: solid;
  --mixin-Jzv4Xevr1Crt_border-bottom-width: 1px;
  --mixin-Jzv4Xevr1Crt_border-left-color: #dddddd;
  --mixin-Jzv4Xevr1Crt_border-left-style: solid;
  --mixin-Jzv4Xevr1Crt_border-left-width: 1px;
  --mixin-Jzv4Xevr1Crt_border-right-color: #dddddd;
  --mixin-Jzv4Xevr1Crt_border-right-style: solid;
  --mixin-Jzv4Xevr1Crt_border-right-width: 1px;
  --mixin-Jzv4Xevr1Crt_border-top-color: #dddddd;
  --mixin-Jzv4Xevr1Crt_border-top-style: solid;
  --mixin-Jzv4Xevr1Crt_border-top-width: 1px;
  --mixin-Jzv4Xevr1Crt_border-bottom-left-radius: 3px;
  --mixin-Jzv4Xevr1Crt_border-bottom-right-radius: 3px;
  --mixin-Jzv4Xevr1Crt_border-top-left-radius: 3px;
  --mixin-Jzv4Xevr1Crt_border-top-right-radius: 3px;
  --mixin-Jzv4Xevr1Crt_font-family: "Inconsolata";
  --mixin-Jzv4Xevr1Crt_padding-bottom: 1px;
  --mixin-Jzv4Xevr1Crt_padding-left: 4px;
  --mixin-Jzv4Xevr1Crt_padding-right: 4px;
  --mixin-Jzv4Xevr1Crt_padding-top: 1px;
  --mixin-1PYv3PNtM4YX_border-left-color: #dddddd;
  --mixin-1PYv3PNtM4YX_border-left-style: solid;
  --mixin-1PYv3PNtM4YX_border-left-width: 3px;
  --mixin-1PYv3PNtM4YX_color: #888888;
  --mixin-1PYv3PNtM4YX_padding-left: 10px;
  --mixin-hq_T9i5SvOn3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hq_T9i5SvOn3_border-bottom-color: #dddddd;
  --mixin-hq_T9i5SvOn3_border-bottom-style: solid;
  --mixin-hq_T9i5SvOn3_border-bottom-width: 1px;
  --mixin-hq_T9i5SvOn3_border-left-color: #dddddd;
  --mixin-hq_T9i5SvOn3_border-left-style: solid;
  --mixin-hq_T9i5SvOn3_border-left-width: 1px;
  --mixin-hq_T9i5SvOn3_border-right-color: #dddddd;
  --mixin-hq_T9i5SvOn3_border-right-style: solid;
  --mixin-hq_T9i5SvOn3_border-right-width: 1px;
  --mixin-hq_T9i5SvOn3_border-top-color: #dddddd;
  --mixin-hq_T9i5SvOn3_border-top-style: solid;
  --mixin-hq_T9i5SvOn3_border-top-width: 1px;
  --mixin-hq_T9i5SvOn3_border-bottom-left-radius: 3px;
  --mixin-hq_T9i5SvOn3_border-bottom-right-radius: 3px;
  --mixin-hq_T9i5SvOn3_border-top-left-radius: 3px;
  --mixin-hq_T9i5SvOn3_border-top-right-radius: 3px;
  --mixin-hq_T9i5SvOn3_font-family: "Inconsolata";
  --mixin-hq_T9i5SvOn3_padding-bottom: 3px;
  --mixin-hq_T9i5SvOn3_padding-left: 6px;
  --mixin-hq_T9i5SvOn3_padding-right: 6px;
  --mixin-hq_T9i5SvOn3_padding-top: 3px;
  --mixin-heiY9niS6mAk_display: flex;
  --mixin-heiY9niS6mAk_flex-direction: column;
  --mixin-heiY9niS6mAk_align-items: stretch;
  --mixin-heiY9niS6mAk_justify-content: flex-start;
  --mixin-heiY9niS6mAk_list-style-position: outside;
  --mixin-heiY9niS6mAk_padding-left: 40px;
  --mixin-heiY9niS6mAk_position: relative;
  --mixin-heiY9niS6mAk_list-style-type: disc;
  --mixin-g7Ix6SzGntym_display: flex;
  --mixin-g7Ix6SzGntym_flex-direction: column;
  --mixin-g7Ix6SzGntym_align-items: stretch;
  --mixin-g7Ix6SzGntym_justify-content: flex-start;
  --mixin-g7Ix6SzGntym_list-style-position: outside;
  --mixin-g7Ix6SzGntym_padding-left: 40px;
  --mixin-g7Ix6SzGntym_position: relative;
  --mixin-g7Ix6SzGntym_list-style-type: decimal;
  --mixin-qSH_g7HXSBAHW_font-family: "Inter";
  --mixin-qSH_g7HXSBAHW_color: #000000;
  --mixin-qSH_g7HXSBAHW_font-size: 20px;
  --mixin-qSH_g7HXSBAHW_font-weight: 600;
  --mixin-qSH_g7HXSBAHW_letter-spacing: -0.3px;
  --mixin-qSH_g7HXSBAHW_line-height: 1.5;
  --mixin-sNJL9q1egINnu_font-family: "Inter";
  --mixin-sNJL9q1egINnu_color: #000000;
  --mixin-sNJL9q1egINnu_font-size: 16px;
  --mixin-sNJL9q1egINnu_font-weight: 600;
  --mixin-sNJL9q1egINnu_line-height: 1.5;
  --mixin-o_nPYQGmXWUE7_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-xO9R6x_-_Uil_font-family);
  font-size: var(--mixin-xO9R6x_-_Uil_font-size);
  font-weight: var(--mixin-xO9R6x_-_Uil_font-weight);
  font-style: var(--mixin-xO9R6x_-_Uil_font-style);
  color: var(--mixin-xO9R6x_-_Uil_color);
  text-align: var(--mixin-xO9R6x_-_Uil_text-align);
  text-transform: var(--mixin-xO9R6x_-_Uil_text-transform);
  line-height: var(--mixin-xO9R6x_-_Uil_line-height);
  letter-spacing: var(--mixin-xO9R6x_-_Uil_letter-spacing);
  white-space: var(--mixin-xO9R6x_-_Uil_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-K1rMP9BguSv3_color);
  font-weight: var(--mixin-K1rMP9BguSv3_font-weight);
  font-size: var(--mixin-K1rMP9BguSv3_font-size);
  line-height: var(--mixin-K1rMP9BguSv3_line-height);
  letter-spacing: var(--mixin-K1rMP9BguSv3_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-zaBDfuMsjDbC_font-family);
  color: var(--mixin-zaBDfuMsjDbC_color);
  font-size: var(--mixin-zaBDfuMsjDbC_font-size);
  font-weight: var(--mixin-zaBDfuMsjDbC_font-weight);
  letter-spacing: var(--mixin-zaBDfuMsjDbC_letter-spacing);
  line-height: var(--mixin-zaBDfuMsjDbC_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-zay7FDVA1G7K_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-YsxNxuqSaMcX_font-family);
  color: var(--mixin-YsxNxuqSaMcX_color);
  font-size: var(--mixin-YsxNxuqSaMcX_font-size);
  font-weight: var(--mixin-YsxNxuqSaMcX_font-weight);
  letter-spacing: var(--mixin-YsxNxuqSaMcX_letter-spacing);
  line-height: var(--mixin-YsxNxuqSaMcX_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-DDYYc04O1p9O_font-family);
  color: var(--mixin-DDYYc04O1p9O_color);
  font-size: var(--mixin-DDYYc04O1p9O_font-size);
  font-weight: var(--mixin-DDYYc04O1p9O_font-weight);
  letter-spacing: var(--mixin-DDYYc04O1p9O_letter-spacing);
  line-height: var(--mixin-DDYYc04O1p9O_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Jzv4Xevr1Crt_background);
  font-family: var(--mixin-Jzv4Xevr1Crt_font-family);
  border-radius: var(--mixin-Jzv4Xevr1Crt_border-top-left-radius)
    var(--mixin-Jzv4Xevr1Crt_border-top-right-radius)
    var(--mixin-Jzv4Xevr1Crt_border-bottom-right-radius)
    var(--mixin-Jzv4Xevr1Crt_border-bottom-left-radius);
  padding: var(--mixin-Jzv4Xevr1Crt_padding-top)
    var(--mixin-Jzv4Xevr1Crt_padding-right)
    var(--mixin-Jzv4Xevr1Crt_padding-bottom)
    var(--mixin-Jzv4Xevr1Crt_padding-left);
  border-top: var(--mixin-Jzv4Xevr1Crt_border-top-width)
    var(--mixin-Jzv4Xevr1Crt_border-top-style)
    var(--mixin-Jzv4Xevr1Crt_border-top-color);
  border-right: var(--mixin-Jzv4Xevr1Crt_border-right-width)
    var(--mixin-Jzv4Xevr1Crt_border-right-style)
    var(--mixin-Jzv4Xevr1Crt_border-right-color);
  border-bottom: var(--mixin-Jzv4Xevr1Crt_border-bottom-width)
    var(--mixin-Jzv4Xevr1Crt_border-bottom-style)
    var(--mixin-Jzv4Xevr1Crt_border-bottom-color);
  border-left: var(--mixin-Jzv4Xevr1Crt_border-left-width)
    var(--mixin-Jzv4Xevr1Crt_border-left-style)
    var(--mixin-Jzv4Xevr1Crt_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-1PYv3PNtM4YX_color);
  padding-left: var(--mixin-1PYv3PNtM4YX_padding-left);
  border-left: var(--mixin-1PYv3PNtM4YX_border-left-width)
    var(--mixin-1PYv3PNtM4YX_border-left-style)
    var(--mixin-1PYv3PNtM4YX_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-hq_T9i5SvOn3_background);
  font-family: var(--mixin-hq_T9i5SvOn3_font-family);
  border-radius: var(--mixin-hq_T9i5SvOn3_border-top-left-radius)
    var(--mixin-hq_T9i5SvOn3_border-top-right-radius)
    var(--mixin-hq_T9i5SvOn3_border-bottom-right-radius)
    var(--mixin-hq_T9i5SvOn3_border-bottom-left-radius);
  padding: var(--mixin-hq_T9i5SvOn3_padding-top)
    var(--mixin-hq_T9i5SvOn3_padding-right)
    var(--mixin-hq_T9i5SvOn3_padding-bottom)
    var(--mixin-hq_T9i5SvOn3_padding-left);
  border-top: var(--mixin-hq_T9i5SvOn3_border-top-width)
    var(--mixin-hq_T9i5SvOn3_border-top-style)
    var(--mixin-hq_T9i5SvOn3_border-top-color);
  border-right: var(--mixin-hq_T9i5SvOn3_border-right-width)
    var(--mixin-hq_T9i5SvOn3_border-right-style)
    var(--mixin-hq_T9i5SvOn3_border-right-color);
  border-bottom: var(--mixin-hq_T9i5SvOn3_border-bottom-width)
    var(--mixin-hq_T9i5SvOn3_border-bottom-style)
    var(--mixin-hq_T9i5SvOn3_border-bottom-color);
  border-left: var(--mixin-hq_T9i5SvOn3_border-left-width)
    var(--mixin-hq_T9i5SvOn3_border-left-style)
    var(--mixin-hq_T9i5SvOn3_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-heiY9niS6mAk_display);
  flex-direction: var(--mixin-heiY9niS6mAk_flex-direction);
  align-items: var(--mixin-heiY9niS6mAk_align-items);
  justify-content: var(--mixin-heiY9niS6mAk_justify-content);
  list-style-position: var(--mixin-heiY9niS6mAk_list-style-position);
  padding-left: var(--mixin-heiY9niS6mAk_padding-left);
  position: var(--mixin-heiY9niS6mAk_position);
  list-style-type: var(--mixin-heiY9niS6mAk_list-style-type);
  flex-column-gap: var(--mixin-heiY9niS6mAk_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-g7Ix6SzGntym_display);
  flex-direction: var(--mixin-g7Ix6SzGntym_flex-direction);
  align-items: var(--mixin-g7Ix6SzGntym_align-items);
  justify-content: var(--mixin-g7Ix6SzGntym_justify-content);
  list-style-position: var(--mixin-g7Ix6SzGntym_list-style-position);
  padding-left: var(--mixin-g7Ix6SzGntym_padding-left);
  position: var(--mixin-g7Ix6SzGntym_position);
  list-style-type: var(--mixin-g7Ix6SzGntym_list-style-type);
  flex-column-gap: var(--mixin-g7Ix6SzGntym_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-qSH_g7HXSBAHW_font-family);
  color: var(--mixin-qSH_g7HXSBAHW_color);
  font-size: var(--mixin-qSH_g7HXSBAHW_font-size);
  font-weight: var(--mixin-qSH_g7HXSBAHW_font-weight);
  letter-spacing: var(--mixin-qSH_g7HXSBAHW_letter-spacing);
  line-height: var(--mixin-qSH_g7HXSBAHW_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-sNJL9q1egINnu_font-family);
  color: var(--mixin-sNJL9q1egINnu_color);
  font-size: var(--mixin-sNJL9q1egINnu_font-size);
  font-weight: var(--mixin-sNJL9q1egINnu_font-weight);
  line-height: var(--mixin-sNJL9q1egINnu_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-o_nPYQGmXWUE7_color);
}
